.nepali{
    font-family: "Sumana", serif;
    font-weight: 400;
    font-style: normal;
}

.logo-img{
    height:90px;
    /* weight:165px; */
    /* margin-top: -5px; */
}



.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 70px;
  /* background-color: #ffffff; */
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover, nav a.active {
  color: #7e22ce;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;  

}

.user-profile {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right : 10px;
    
}

