<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/Home/footer.css">
    <title>Document</title>
</head>
<body>
      <footer>
    <div class="container">
      <div class="footer-content">
        <div class="footer-logo">
          <h3>Hamro <span class="logo-text">आश्रय</span></h3>
          <p>Trust. Safety. Comfort.</p>
        </div>

        <div class="footer-links">
          <div class="footer-column">
            <h4>Quick links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Hostels</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Refund policy</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Explore</a></li>
            </ul>
          </div>

          <div class="footer-column">
            <h4>Company</h4>
            <ul>
              <li><a href="#">Privacy policy</a></li>
              <li><a href="#">Refund policy</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">About</a></li>
            </ul>
          </div>

          <div class="footer-column">
            <h4>Social media</h4>
            <ul>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Instagram</a></li>
              <li><a href="#">LinkedIn</a></li>
            </ul>
          </div>

          <div class="footer-column newsletter">
            <h4>Newsletter</h4>
            <p>Kindly subscribe to our newsletter to get updates on rooms and discounts.</p>
            <div class="newsletter-form">
              <input type="email" placeholder="Enter your email"/>
              <button>Subscribe</button>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <p>&copy; Hamro Aashraya 2025</p>
      </div>
    </div>
  </footer>
</body>
</html>