<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href='\stylesheets\Home\nav.css'>
   
    <title>Document</title>
</head>
<body>
     <div class="container1">
    <!-- Header -->
    <header>
      <div class="logo">
           <img src="/images/logo.png" alt="Logo" class="logo-img">
      </div>
      <nav>
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/explore">Explore</a></li>
          <li><a href="">Hostels</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
<button class="signup" onclick="window.location.href='/signup';">Sign Up</button>

    </header>
    </div>


</body>
</html>