<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\stylesheets\Home\usernav.css"/>
    <title>Document</title>
</head>
<body>
      <header>
    <div class="container">
      <div class="header-content">
        <div class="logo">
          <a href="/">
            <i class="fas fa-home purple-icon"></i>
          </a>
        </div>
        <nav>
          <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/explore">Explore</a></li>
            <li><a href="/hostels" class="purple-text">Hostels</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
        <div class="user-profile">
          <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcReXPFAJ5cUhfTLDRA7ZJlBZdwOmO7AfLRhazE1rl5-nJhk0NHeTtwX983IoqiSjrPB-R4OiIN_uaPO9jqW41E2Ww" alt="User Profile"/>
          <span>Asmita</span>
        </div>
      </div>
    </div>
  </header>
</body>
</html>